body
{
    background-color: azure;
    text-align: center;
}

h1
{
    font-family: 'Times New Roman';
}

div
{
    width:50%;
    height:auto;
    margin-left:25%;
    margin-top:10%;
    padding:10px;
    background-color: aqua;
}